
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AreaRestrita/Views/Shared/LayoutAreas.cshtml";
}

<h4>Gerenciador Financeiro</h4>
<h6>Curso Web Developer C#.NET</h6>
<p >
    Tecnologias utilizadas
</p>
<li>
    C# Asp.Net Arquitetura MVC,
</li>
<li>
    Dapper,
</li>
<li>
    Sql Server,
</li>
<li>
    Bootstrap
</li>
